body{
    margin: 0px;
    padding: 0px;
    background-image: url(Images/Nav.jpg);
    background-position:center;
    background-attachment:fixed;
    background-size: cover;
}
body, html {
    height: 100%;
    overflow: hidden;
  }
.navbar ul{
    list-style-type: none;
background-image: url(Images/Bgb.jpg);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;  
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsla(39, 72%, 65%, 0.788);
}
.navbar li{
    float: left
    ;
}

.contact {
    margin: 50px auto;
    max-width: 600px;
    padding: 10px;
    text-align: center;
  }
  
  .contact h2 {
    margin-bottom: 20px;
    font-size: 40px;
  }
  
  .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact-item {
    margin: 10px;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
  }